header {
    margin: 10px auto 0px auto;
}

#Logo {
    @include Logo;

img {
    width: 45%;
    height: auto;
    margin:10px
}
}

.Search-form-city {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    padding:8px 0px 9px 0px;
    border-top: #706b6b;
    .mapmarker {
        align-self: center;
        margin: 7px;
        padding-left: 50px;
    }
    &__place {
        background-color: #e2e2e2;
        
    }
}

