header {
    margin: 10px auto 0px auto;
    position: relative;
}

header .Arrow {
    position:absolute;
    top:15px;
    left:20px;
}

#Logo {
    text-align: center;
    margin:0 auto;
    display:block;
  

img {
    max-width: 45%;
    height: auto;
    margin:10px
    // @include Tablet-only {
    //     max-width: 70%;
    // }
}
}

.Search-form-city {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    padding:8px 0px 9px 0px;
    box-shadow:0px 2px 8px #b1adad inset;
    .mapmarker {
        align-self: center;
        margin: 7px;
        padding-left: 50px;
    }
    &__place {
        background-color: #e2e2e2;
        
    }
}

