.Restaurants {
    background-color: #F6F6F6;
    padding:10px;

h2 {
    margin-left:5px;
    width: 90%;
    margin: 16px auto ;
    max-width: 352px;
    @include Tablet-only {
        text-align: center;
        
    }
}
}
.Boxes-restaurants {
    @include Flex-column;
    @include Tablet-only {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 16px auto;
        max-width: 800px;
        transition: all .25s ease ;
    }
    @include Desktop-only {
        max-width: 1480px;
    }

.Box-restaurants {
    position: relative;
    margin: 15px auto;
    width: 90%;
    max-width: 352px;
    height: 200px;
    border-radius: 25px;
    background-color: white;
    box-shadow:10px 8px 10px rgb(189, 187, 187) ;
    transition: all .25s ease;
    margin-bottom: 16px;
    z-index: 1;
    
    &:hover {
        filter: brightness(110%);
        box-shadow: 4px 10px 14px darken(#aaaaaa, 30%);
        &::after {
           opacity: 20%;
       }
    }

    &::after {
        content: "";
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        background-color: $color-primary;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
       
    }
    
    @include Tablet-only {
        margin: 15px;
        max-width: 340px;
    }
}

img {
    @include Box-restaurants__img;
}

#Palette {
    object-position: 0 -44px;
}

#Note {
    object-fit: cover;
    object-position: 0 -163px;
}

#Francaise , #Delice {
    object-position: 0 -71px;
}

.Box-restaurants__info {
    @include Box-restaurants__info;
}

.Box-restaurants__info__txt {
    text-align: left;
    margin-left: 15px;
}
h3 {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 1.1em;
}
p {
    margin-top: 5px;
    font-size: 1em;
}


.Box-restaurants__info__heart {
    position:relative;
    font-size: 1.7em;
    margin:20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
    .Empty-heart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover {
            opacity:0;
            transition: opacity 2s;
        }
    }

    .Full-heart {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease 0s;
        background: linear-gradient(#9356dc,#ff79da);            -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        width: 100%;
        height: 100%;

        &::after{
            content: "";
            height: 100%;
            width: 100%;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s ease;
        }

        &:hover  {
            opacity: 1;

            &::after{
                height: 0;
            }
        }        
    }

    &.Empty-heart:hover {
            opacity: 1;
    }


.Box-restaurants__new {
    position: absolute;
    top:15px;
    right:15px;
    background-color:$color-tertiary ;
    color:#008766;
    width: 25%;
    text-align: center;
    font-size: 0.9em;
    padding: 5px 0 5px 0;
    border-radius: 5%;
}

}