.Menu {
        @include Flex-column;
        
       
        h2 {
        font-family: "Shrikhand", Arial, Helvetica, sans-serif;
        font-size: 1.7em;
        @include Tablet-only {
            font-size:1.9em;
        }
        }
        
        p {
            width: 80%;
            margin: 10px;
        }

        .Menu__img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        }
    
}

.Menu-selection {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    @include Flex-column;
    margin-top: -45px;
    padding-bottom: 20px;

    .Menu-selection__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        max-width: 320px;
        @include Tablet-only {
            justify-content: space-evenly;
            width: 90%;
            max-width: 600px;
        }
        @include Desktop-only {
            width: 60%;
            max-width: 610px;
        }
    
    .Menu-selection__title__heart {
        font-size:1.5em ;
        margin: 15px;
        @include Tablet-only {
            font-size: 1.9em;
        }
    }
}
}

.Menu-selection__category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 352px ;
    margin-bottom: 15px;
    @include Tablet-only {
        max-width: 480px;
    }
    @include Desktop-only {
        
    }
    .Menu-selection__category__title {
        margin-bottom: 10px;
        margin-left: 15px;
        @include Tablet-only {
            margin-left: 22px;
        }
    }
    .Menu-selection__category__title h3 {
        font-family: "Roboto",Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    
    }

}
.Blue-line {
        background-color:#99e2d0;
        width: 43px;
        height: 3px;
}
