.Operation {
    width: 90%;
    margin:auto;
    h2 {
        margin-left:5px ;
    }
    .Navigation-operation__btn {
        @include Flex-start;
        position:relative;
        width:90%;
        height:73px;
        border-radius: 25px;
        background-color:#f6f6f6 ;
        margin-bottom: 15px;
        box-shadow:2px 2px 14px #aaaaaa ;
    }

    .Navigation-operation__btn__nbr {
        background-color: $color-primary;
        color:white;
        width: 30px;
        height: 28px;
        border-radius: 55%;
        text-align: center;
        margin-left: -10px;
        padding-top: 5px;
    }

}