.Operation {
    width: 90%;
    margin:auto;
    margin-bottom: 40px;
    h2 {
        margin-left:5px;
    }
    .Navigation-operation {
        @include Flex-column;
    }
    .Navigation-operation__btn {
        @include Flex-start;
        position:relative;
        width:90%;
        height:73px;
        border-radius: 25px;
        background-color:#f6f6f6 ;
        margin-bottom: 15px;
        box-shadow:4px 10px 14px #e5e5e5;
    }

    .Navigation-operation__btn__nbr {
        background-color: $color-primary;
        color:white;
        width: 28px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        margin-left: -10px;
        padding-top: 7px;
    }

    .Navigation-operation__btn__icon {
        margin: 20px;
        font-size: 25px;
        color: #7e7e7e;
    }

}