@keyframes Loader-fadeout {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes Loader-cutlery {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes tap {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-1em);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Fadein {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  50% {
    opacity: 0;
    transform: translate(0, 16px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Grow {
  0% {
    width: 0;
  }
  100% {
    width: 90px;
  }
}

@keyframes Reduce {
  0% {
    width: 90px;
    filter: brightness(110%);
  }
  100% {
    width: 0;
  }
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: black;
}

li > a {
  color: white;
}

input {
  border: none;
  outline: none;
}

ul, li {
  list-style: none;
}

body {
  font-size: 16px;
  color: black;
}

body, input {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1em;
}

h2 {
  font-family: 'Roboto';
  font-weight: 500;
}

p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.1em;
}

.btn-explore {
  border-radius: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 2px 2px 14px #aaaaaa;
  margin: 15px 15px 50px 15px;
  color: white;
  transition: all .25s ease;
}

.btn-explore a {
  color: white;
}

.btn-explore h3 {
  margin: 15.5px 22.5px 15.5px 22.5px;
}

.btn-explore:hover {
  filter: brightness(110%);
  box-shadow: 4px 10px 14px #5e5e5e;
}

.btn-meal {
  display: flex;
  background-color: white;
  width: 90%;
  max-width: 352px;
  height: 68px;
  border-radius: 15px;
  margin: 10px auto;
  padding-left: 10px;
  box-shadow: 2px 2px 14px #aaaaaa;
  overflow: hidden;
  animation: Fadein 1s both;
}

.btn-meal:nth-child(2) {
  animation-delay: .2s;
}

.btn-meal:nth-child(3) {
  animation-delay: .4s;
}

.btn-meal:nth-child(4) {
  animation-delay: .6s;
}

@media screen and (min-width: 768px) {
  .btn-meal {
    max-width: 480px;
  }
}

.btn-meal .btn-meal__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
}

.btn-meal .btn-meal__txt h3 {
  overflow: hidden;
  margin: 14px 0 0 0;
}

.btn-meal .btn-meal__txt p {
  font-size: 0.84em;
  margin: 7px 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-meal .btn-meal__price {
  margin: 40px 8px 0px;
  font-size: 0.95em;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.btn-meal:hover {
  box-shadow: 4px 10px 14px #5e5e5e;
}

.btn-meal:hover > .btn-meal__select {
  transform: translateX(0);
  animation: Grow 600ms forwards;
}

.btn-meal:hover > .btn-meal__select > .Check-circle {
  transform: rotate(1turn);
  transition: transform 600ms ease-in-out;
}

.btn-meal .btn-meal__select {
  background-color: #99E2D0;
  border-radius: 0 13px 13px 0;
  height: 100%;
  width: 0;
  text-align: center;
  margin-left: 5px;
  transform-origin: right;
  transform: translateX(10px);
  animation: Reduce 500ms ease-in-out forwards;
}

.btn-meal .Check-circle {
  display: block;
  font-size: 1.6em;
  margin-top: 20px;
  color: white;
  transform: rotate(0);
}

.Menu-selection .btn-explore {
  margin: 15px 15px 50px 15px;
  padding: 0px 23px 0px 23px;
}

.Loader {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  animation: Loader-fadeout 3s forwards;
}

.Loader-animation__cutlery {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Loader-animation__cutlery img {
  width: 100%;
  height: 100%;
  animation-name: tap;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.Loader-animation__cutlery img:nth-child(1) {
  animation-delay: .1s;
}

.Loader-animation__cutlery img:nth-child(2) {
  animation-delay: .4s;
}

.Loader-animation__cutlery img:nth-child(3) {
  animation-delay: .7s;
}

header {
  margin: 10px auto 0px auto;
  position: relative;
}

header .Arrow {
  position: absolute;
  top: 15px;
  left: 20px;
}

@media screen and (min-width: 768px) {
  header .Arrow {
    font-size: 1.2em;
  }
}

#Logo {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#Logo img {
  max-width: 45%;
  height: auto;
  margin: 10px;
}

.Search-form-city {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  padding: 8px 0px 9px 0px;
  box-shadow: 0px 2px 8px #b1adad inset;
}

.Search-form-city .mapmarker {
  align-self: center;
  margin: 7px;
  padding-left: 50px;
}

.Search-form-city__place {
  background-color: #e2e2e2;
}

.Operation {
  width: 90%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 40px;
}

.Operation h2 {
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .Operation h2 {
    text-align: center;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .Operation {
    max-width: 350px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .Operation {
    max-width: none;
  }
}

.Operation .Navigation-operation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .Operation .Navigation-operation {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.Navigation-operation-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 90%;
  height: 73px;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin-bottom: 15px;
  box-shadow: 4px 10px 14px #aaaaaa;
  z-index: 1;
}

.Navigation-operation-btn:hover {
  box-shadow: 4px 10px 14px #5e5e5e;
}

.Navigation-operation-btn:hover::after {
  opacity: 20%;
}

.Navigation-operation-btn:hover .Navigation-operation-btn__icon {
  color: #9356DC;
}

.Navigation-operation-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

@media screen and (min-width: 1024px) {
  .Navigation-operation-btn {
    margin: 15px;
    max-width: 372px;
  }
}

.Navigation-operation-btn__nbr {
  background-color: #9356DC;
  color: white;
  width: 28px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin-left: -10px;
  padding-top: 7px;
}

.Navigation-operation-btn__icon {
  margin: 20px;
  font-size: 18px;
  color: #7e7e7e;
}

.Main-container {
  margin: 0 auto;
  box-sizing: border-box;
}

.Banner-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}

.Banner-explore h2 {
  width: 70%;
  margin-top: 35px;
  margin-bottom: 0px;
}

.Banner-explore p {
  width: 80%;
  margin: 10px;
}

.Restaurants {
  background-color: #F6F6F6;
  padding: 10px;
}

.Restaurants h2 {
  margin-left: 5px;
  width: 90%;
  margin: 16px auto;
  max-width: 352px;
}

@media screen and (min-width: 768px) {
  .Restaurants h2 {
    text-align: center;
  }
}

.Boxes-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Boxes-restaurants {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px auto;
    max-width: 800px;
  }
}

@media screen and (min-width: 1024px) {
  .Boxes-restaurants {
    max-width: 1480px;
  }
}

.Boxes-restaurants .Box-restaurants {
  position: relative;
  margin: 15px auto;
  width: 90%;
  max-width: 352px;
  height: 200px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 8px 10px #bdbbbb;
  transition: all .25s ease;
  margin-bottom: 16px;
  z-index: 1;
}

.Boxes-restaurants .Box-restaurants:hover {
  filter: brightness(110%);
  box-shadow: 4px 10px 14px #5e5e5e;
}

.Boxes-restaurants .Box-restaurants:hover::after {
  opacity: 20%;
}

.Boxes-restaurants .Box-restaurants::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

@media screen and (min-width: 768px) {
  .Boxes-restaurants .Box-restaurants {
    margin: 15px;
    max-width: 340px;
  }
}

.Boxes-restaurants img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.Boxes-restaurants #Palette {
  object-position: 0 -44px;
}

.Boxes-restaurants #Note {
  object-fit: cover;
  object-position: 0 -163px;
}

.Boxes-restaurants #Francaise, .Boxes-restaurants #Delice {
  object-position: 0 -71px;
}

.Boxes-restaurants .Box-restaurants__info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 25px 25px;
}

.Boxes-restaurants .Box-restaurants__info__txt {
  text-align: left;
  margin-left: 15px;
}

.Boxes-restaurants h3 {
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 1.1em;
}

.Boxes-restaurants p {
  margin-top: 5px;
  font-size: 1em;
}

.Boxes-restaurants .Box-restaurants__info__heart {
  position: relative;
  font-size: 1.7em;
  margin: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Boxes-restaurants .Empty-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Boxes-restaurants .Empty-heart:hover {
  opacity: 0;
  transition: opacity 2s;
}

.Boxes-restaurants .Full-heart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease 0s;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  width: 100%;
  height: 100%;
}

.Boxes-restaurants .Full-heart::after {
  content: "";
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}

.Boxes-restaurants .Full-heart:hover {
  opacity: 1;
}

.Boxes-restaurants .Full-heart:hover::after {
  height: 0;
}

.Boxes-restaurants.Empty-heart:hover {
  opacity: 1;
}

.Boxes-restaurants .Box-restaurants__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  width: 25%;
  text-align: center;
  font-size: 0.9em;
  padding: 5px 0 5px 0;
  border-radius: 5%;
}

footer {
  margin: 0 auto;
  background-color: #353535;
  color: white;
  padding-top: 25px;
}

footer .Nav-footer {
  width: 90%;
  max-width: 352px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  footer .Nav-footer {
    text-align: center;
  }
}

footer h2 {
  font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  footer h2 {
    font-size: 1.6em;
  }
}

footer ul {
  padding-left: 0;
}

footer li {
  margin-bottom: 15px;
}

footer .Nav-footer__icon {
  margin-right: 5px;
  font-size: 0.9em;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}

@media screen and (min-width: 768px) {
  .Menu h2 {
    font-size: 1.9em;
  }
}

.Menu p {
  width: 80%;
  margin: 10px;
}

.Menu .Menu__img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.Menu-selection {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  padding-bottom: 20px;
}

.Menu-selection .Menu-selection__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .Menu-selection .Menu-selection__title {
    justify-content: space-evenly;
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .Menu-selection .Menu-selection__title {
    width: 60%;
    max-width: 610px;
  }
}

.Menu-selection__title__heart {
  position: relative;
  font-size: 1.7em;
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .Menu-selection__title__heart {
    font-size: 1.9em;
  }
}

.Menu-selection__title__heart .Empty-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Menu-selection__title__heart .Empty-heart:hover {
  opacity: 0;
  transition: opacity 2s;
}

.Menu-selection__title__heart .Full-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s linear 0s;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  width: 100%;
  height: 0;
}

.Menu-selection__title__heart .Full-heart:hover {
  opacity: 1;
  height: 100%;
}

.Menu-selection__title__heart.Empty-heart:hover {
  opacity: 1;
}

.Menu-selection__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 352px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .Menu-selection__category {
    max-width: 480px;
  }
}

.Menu-selection__category .Menu-selection__category__title {
  margin-bottom: 10px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .Menu-selection__category .Menu-selection__category__title {
    margin-left: 22px;
  }
}

.Menu-selection__category .Menu-selection__category__title h3 {
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.Blue-line {
  background-color: #99e2d0;
  width: 43px;
  height: 3px;
}
/*# sourceMappingURL=style.css.map */