.btn-explore {
    border-radius: 30px;
    background: linear-gradient($color-primary, $color-secondary);
    box-shadow: 2px 2px 14px #aaaaaa;
    margin:15px 15px 50px 15px;
    a {
        color:white;
    }
    h3 {
        margin:15.5px 22.5px 15.5px 22.5px;
    }
}

.btn-meal {
    display:flex;
    background-color: white;
    width: 90%;
    max-width: 352px;
    height: 68px ;
    border-radius: 15px;
    margin: 10px auto;
    padding-left: 10px;
    box-shadow: 2px 2px 14px #aaaaaa;
    overflow: hidden;
    .btn-meal__txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
    }
    .btn-meal__txt h3 {
        overflow: hidden;
        margin: 14px 0 0 0 ;
    }

    .btn-meal__txt p {
        font-size: 0.84em;
        margin:7px 0 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-meal__price {
        margin: 40px 8px 0px;
        font-size: 0.95em;
        font-family: 'roboto medium',Arial, Helvetica, sans-serif;
    }

    
}

.Menu-selection {
    
    .btn-explore {
        margin:15px 15px 50px 15px;
        padding:0px 23px 0px 23px;
    }
}