.btn-explore {
    border-radius: 30px;
    background: linear-gradient($color-primary, $color-secondary);
    box-shadow: 2px 2px 14px #aaaaaa;
    margin:15px 15px 50px 15px;
    color:white;
    transition: all .25s ease ;
    a {
        color:white;
    }
    h3 {
        margin:15.5px 22.5px 15.5px 22.5px;
    }
    &:hover {
        filter: brightness(110%);
        box-shadow: 4px 10px 14px darken(#aaaaaa, 20%);
    }
}

.btn-meal {
    display:flex;
    background-color: white;
    width: 90%;
    max-width: 352px;
    height: 68px ;
    border-radius: 15px;
    margin: 10px auto;
    padding-left: 10px;
    box-shadow: 2px 2px 14px #aaaaaa;
    overflow: hidden;

    animation: Fadein 1s both;
    &:nth-child(2) {
        animation-delay: .2s;
    }
    &:nth-child(3) {
        animation-delay: .4s;
    }
    &:nth-child(4) {
        animation-delay: .6s;
    }
    
    @include Tablet-only {
        max-width: 480px;
    }

    .btn-meal__txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
    }
    .btn-meal__txt h3 {
        overflow: hidden;
        margin: 14px 0 0 0 ;
    }

    .btn-meal__txt p {
        font-size: 0.84em;
        margin:7px 0 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-meal__price {
        margin: 40px 8px 0px;
        font-size: 0.95em;
        font-family: 'Roboto',Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    &:hover {
        // filter: brightness(110%);
        box-shadow: 4px 10px 14px darken(#aaaaaa, 30%);
    }

    &:hover >.btn-meal__select {
        transform: translateX(0);
        animation:Grow 600ms forwards;
        > .Check-circle {
            transform: rotate(1turn);
            transition: transform 600ms ease-in-out;
        }
    }

    .btn-meal__select {
        background-color: $color-tertiary;
        border-radius: 0 13px 13px 0;
        height: 100%;
        width: 0;
        text-align: center;
        margin-left: 5px;
        transform-origin: right;
        transform:translateX(10px);
        animation: Reduce 500ms ease-in-out forwards;
    }
    
    .Check-circle {
        display:block;
        font-size: 1.6em;
        margin-top: 20px;
        color:white;
        transform:rotate(0);
    }
}

.Menu-selection {
    
    .btn-explore {
        margin:15px 15px 50px 15px;
        padding:0px 23px 0px 23px;
    }
}