@mixin Flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}
@mixin Flex-start {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}


@mixin Box-restaurants__img{
    width:100%;
    height:100%;
    border-radius: 25px;
}

@mixin Box-restaurants__info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 25px 25px;
}

@mixin Tablet-only {
    @media screen and (min-width: map-get($breakpoints, Tablet)) {
        @content; 
    }
}

@mixin Desktop-only {
    @media screen and (min-width:map-get($breakpoints, Desktop)) {
        @content;
    }
    
}